.container
    div(ng-controller="lobbyCtrl")
    
    div.join
        button(class="btn btn-primary", ng-click="createGame('{{generatedId}}', 3, 3)") Create Game
    
       a(ng-repeat="game in games", ng-href="/game/{{game.info.id}}", ng-click="joinGame(game.info.id)") Players: {{game.info.currentPlayers}} / {{game.info.totalPlayers}}